html, body, .container-fluid {
    height: 100%;
}

.container-fluid .row:first-child {
    height: 55%;
}

.container-fluid .row:first-child .col-xs-12 {
    height: 100%;
}

#mynetwork {
    /*width: 900px;*/
    height: 100%;
    border: 1px solid lightgray;
    background-color: #eeeeee;
}

.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }
    to {
        transform: scale(1) rotate(360deg);
    }
}

@-webkit-keyframes spin2 {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

#rating {
    margin-top: 10px;
}

tr.clickableRow {
    cursor: pointer;
}

